<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="stylesheet" href="css/style.css" media="all" />

    <script src="js/Template.js"></script>
    <script src="js/Component.js"></script>

    <script src="js/modules/graph/Graph.js"></script>    

    <script src="js/modules/calc/classes/Complex.js"></script>
    <script src="js/modules/calc/classes/Matrix.js"></script>
    <script src="js/modules/calc/classes/Vector.js"></script>
    <script src="js/modules/calc/classes/Member.js"></script>
    <script src="js/modules/calc/classes/Polinomial.js"></script>
    <script src="js/modules/calc/calcs/RealCalculator.js"></script>
    <script src="js/modules/calc/calcs/ComplexCalculator.js"></script>
    <script src="js/modules/calc/calcs/VectorCalculator.js"></script>
    <script src="js/modules/calc/calcs/MatrixCalculator.js"></script>
    <script src="js/modules/calc/Сalculator.js"></script>
    <script src="js/modules/calc/PolynomialCalculator.js"></script>

    <script src="js/modules/Math3D/entities/Edge.js"></script>
    <script src="js/modules/Math3D/entities/Point.js"></script>
    <script src="js/modules/Math3D/entities/Surface.js"></script>
    <script src="js/modules/Math3D/entities/Light.js"></script>
    <script src="js/modules/Math3D/entities/Polygon.js"></script>
    
    <script src="js/modules/Math3D/surfaces/Surfaces.js"></script>
    <script src="js/modules/Math3D/surfaces/cube.js"></script>
    <script src="js/modules/Math3D/surfaces/thor.js"></script>
    <script src="js/modules/Math3D/surfaces/sphere.js"></script>
    <script src="js/modules/Math3D/surfaces/ellipsoid.js"></script>
    <script src="js/modules/Math3D/surfaces/cone.js"></script>
    <script src="js/modules/Math3D/surfaces/kleinBottle.js"></script>
    <script src="js/modules/Math3D/surfaces/hyperbolicСylinder.js"></script>
    <script src="js/modules/Math3D/surfaces/parabolicCylinder.js"></script>
    <script src="js/modules/Math3D/surfaces/ellipticalCylinder.js"></script>
    <script src="js/modules/Math3D/surfaces/singleLineHyperboloid.js"></script>
    <script src="js/modules/Math3D/surfaces/twoLineHyperboloid.js"></script>
    <script src="js/modules/Math3D/surfaces/ellipticalParaboloid.js"></script>
    <script src="js/modules/Math3D/surfaces/hyperbolicParaboloid.js"></script>
   
    <script src="js/modules/Math3D/Math3D.js"></script>

    <script src="js/components/Header/headerTemplate.js"></script>
    <script src="js/components/Header/Header.js"></script>
    <script src="js/components/Calc/calcTemplate.js"></script>
    <script src="js/components/Calc/Calc.js"></script>
    <script src="js/components/Graph2D/graphTemplate.js"></script>
    <script src="js/components/Graph2D/Graph2D.js"></script>
    <script src="js/components/Graph2D/UI2D/ui2DTemplate.js"></script>
    <script src="js/components/Graph2D/UI2D/UI2D.js"></script>
    <script src="js/components/Graph3D/graph3DTemplate.js"></script>
    <script src="js/components/Graph3D/Graph3D.js"></script>

    <script src="js/App.js"></script>
    <script src="js/index.js"></script>

    <meta charset="UTF-8">
    <title>JS</title>
</head>

<body>
</body>

</html>